# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
todo

# folders
/views
/archive
/alembic

# files
alembic.ini
test.py

# 
.streamlit/secrets.toml
.streamlit/secret.json
.archive
__pycache__
*.db
